@font-face {
  font-family: "AliSans-Regular";
  src: url("/fonts/Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "AliSans-Medium";
  src: url("/fonts/Alibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttf")
    format("truetype");
}

body {
  font-family: "AliSans-Regular", sans-serifb !important;
  margin: 0;
  padding: 0;
  background: #fff;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
/*-- banner --*/
.banner {
  /*background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;*/
  background: #eee;
  min-height: 640px;
  padding-top: 190px;
  margin-bottom: 64px;
}
.banner-left {
  float: left;
  min-height: 0;
}
.banner-left img {
  width: 44%;
  margin-left: 100px;
}
.banner-right {
  float: right;
  width: 45%;
}
.header h1 {
  margin: 0.1em 0 0.8em 0;
  line-height: 120%;
  font-size: 64px;
  font-family: "AliSans-Medium";
}

.banner-info a {
  background: #0078d4;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 36px;
  border-radius: 4px;
  margin-left: 0.25em;
}
/*-- banner --*/
.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
/*-- banner-bottom --*/
.banner-bottom {
  background: #353f49;
  padding: 100px 0;
}
.bottom-left {
  float: left;
  width: 15%;
  text-align: center;
}
.bottom-right {
  float: right;
  width: 80%;
}
.bottom-right p {
  line-height: 2em;
  margin: 15px 0 0 0;
  font-size: 14px;
  color: #ddd9d9;
}
.bottom-grid:nth-child(3),
.bottom-grid:nth-child(4) {
  margin-top: 55px;
}
/*-- //banner-bottom --*/

/*-- card --*/
.card {
  margin: 64px 64px;
  min-height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 16px #00000040;
  overflow: hidden;
}
.card-left {
  padding: 32px;
}
.card-left p {
  font-size: 18px;
  margin-top: 16px;
}
.card-left h1 {
  font-family: "AliSans-Medium";
  line-height: 120%;
  margin-bottom: 16px;
}
.card-right {
  float: right;
  padding: 0;
}
/*-- //card --*/

/*-- footer --*/
.footer {
  background: #ddd;
  padding: 30px 0;
  margin-top: 64px;
}
.footer p {
  font-size: 14px;
  color: #222;
}
.footer p a {
  text-decoration: none;
  color: #888;
}
.footer p a:hover {
  color: #0078d4;
}
#footer-right {
  text-align: right;
}
/*-- //footer --*/

/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 4%;
  right: 4%;
  overflow: hidden;
  z-index: 999;
  width: 48px;
  height: 48px;
  border: none;
  text-indent: 100%;
  background: url("../images/arr.svg") no-repeat 0px 0px;
  border-radius: 50%;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive media queries --*/
@media (max-width: 1440px) {
  .banner {
    min-height: 695px;
  }
  .banner-right {
    margin-left: -360px;
  }
}
@media (max-width: 1024px) {
  .banner {
    padding: 95px 0 0 0;
  }
  .header a {
    font-size: 38px;
    padding: 9px 26px;
  }
  .banner-info h1 {
    margin: 30px 0 15px 0;
    font-size: 25px;
  }
  /*.banner-info a {
	  padding: 9px 24px;
	  }*/
  .banner {
    min-height: 480px;
  }
  .banner-left img {
    margin-left: 0;
  }
  .banner-right {
    float: right;
    width: 47%;
  }
  .banner-bottom {
    padding: 75px 0;
  }
  .bottom-left {
    float: left;
    width: 12%;
  }
  .bottom-right {
    float: right;
    width: 86%;
  }
  .banner-info p {
    font-size: 13px;
  }

  .card {
    margin: 32px;
  }

  .bottom-right p {
    font-size: 13px;
  }
  .bottom-right h3 {
    font-size: 19px;
  }
  .footer-grid p {
    font-size: 13px;
  }
  .footer-top {
    padding: 75px 0;
  }
  .footer-grid a {
    font-size: 38px;
  }
  .footer-grid iframe {
    height: 240px;
  }
  .footer {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  #footer-right {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .header a {
    font-size: 30px;
    padding: 8px 18px;
  }
  .banner-info h1 {
    margin: 22px 0 10px 0;
    font-size: 22px;
  }
  .banner-info p {
    line-height: 1.8em;
  }
  .banner-right {
    float: right;
    width: 47%;
  }
  .banner-info p {
    margin: 0 0 28px 0;
  }
  /*.banner-info a {
	  font-size: 12px;
	  padding: 6px 14px;
	  }*/
  .banner-info h1 {
    line-height: 1.3em;
  }
  .bottom-grid {
    float: left;
    width: 50%;
  }
  .bottom-right h3 {
    font-size: 16px;
  }
  .bottom-right {
    float: right;
    width: 84%;
  }
  .footer-grid p {
    line-height: 1.8em;
    font-size: 12px;
  }
  .footer-grid a {
    font-size: 30px;
  }
  .footer-grid {
    float: left;
    width: 50%;
  }
  .footer-grid iframe {
    height: 212px;
  }
}
@media (max-width: 667px) {
  .comments-info.cmnts-mddl {
    margin: 0 16px;
  }
}
@media (max-width: 640px) {
  .header a {
    font-size: 24px;
    padding: 5px 10px;
  }
  .banner-info h1 {
    margin: 19px 0 4px 0;
    font-size: 16px;
  }
  .banner-info p {
    margin: 0 0 20px 0;
  }
  .banner-bottom {
    padding: 55px 0;
  }
  .bottom-right h3 {
    font-size: 13px;
  }
  .banner-info p,
  .bottom-right p {
    font-size: 11px;
  }
  .bottom-right p {
    margin: 10px 0 0 0;
  }
  .bottom-right {
    float: right;
    width: 82%;
  }
  .footer-grid p {
    margin: 5px 0 0 0;
    font-size: 11px;
  }
  .footer-grid a {
    font-size: 24px;
  }
  .footer-grid iframe {
    height: 190px;
  }
  .footer-top {
    padding: 55px 0;
  }
}
@media (max-width: 600px) {
  .pricing-grid {
    margin-right: 13px;
  }
  .pricing-top-grid {
    width: 31.6%;
    padding: 0;
    margin-right: 13px;
  }
}
@media (max-width: 568px) {
  .comments-info.cmnts-mddl {
    margin: 0 21px;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 44px 0 0 0;
    min-height: 560px;
  }
  .banner-right {
    width: 100%;
  }
  .bottom-grid {
    float: left;
    width: 100%;
  }
  .bottom-grid:nth-child(3),
  .bottom-grid:nth-child(4),
  .bottom-grid:nth-child(2) {
    margin-top: 30px;
  }
  .footer-grid {
    float: left;
    width: 100%;
    padding: 0;
  }
  .footer-grid:nth-child(2) {
    margin-top: 30px;
  }
  .bottom-right h3 {
    font-size: 14px;
  }
  .bottom-grid {
    padding: 0;
  }
}
@media (max-width: 414px) {
  .pricing-grid {
    margin-right: 9px;
  }
}
@media (max-width: 408px) {
  .banner-right {
    margin: auto;
  }
}
@media (max-width: 384px) {
  .pricing-grid {
    margin-right: 7px;
  }
}
@media (max-width: 375px) {
  .pricing-grid {
    margin-right: 8px;
  }
}
@media (max-width: 320px) {
  .header a {
    font-size: 28px;
    padding: 5px 10px;
  }
  .banner-info h1 {
    font-size: 14px;
  }
  /*.banner-info a {
	  padding: 5px 8px;
	}*/
  .bottom-right h3 {
    font-size: 13px;
  }
  .banner-bottom {
    padding: 40px 0;
  }
  .footer-top {
    padding: 40px 0;
  }
  .footer-grid a {
    font-size: 28px;
  }
  .footer-grid iframe {
    height: 160px;
  }
  .footer p {
    font-size: 11px;
  }
}
/*-- //responsive media queries --*/
